.btn-close {
  width: 20px;
  height: 20px;
  position: relative;
  border: none;
  outline: none;
  cursor: pointer;
  background: none;
  padding: 0;

  &:before,
  &:after {
    content: '';
    height: 1px;
    width: 100%;
    background: #1e1d1f;
    display: block;
    position: absolute;
    top: calc(50% - 1px);
    left: 0;
  }

  &:before {
    transform: rotate(45deg);
  }

  &:after {
    transform: rotate(-45deg);
  }
}