.search-form {
  position: relative;
  min-width: 450px;
  height: 50px;


  &__input {
    width: 100%;
    padding-right: 110px;

    @media (max-width: 1440px) {
      font-size: 13px;
    }
  }

  &__btn {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    height: auto;
    padding-left: 40px;
    padding-right: 60px;
  }

  @media (max-width: 1440px) {
    min-width: 340px;
    height: auto;

    &__input {
      font-size: 12px;
      height: 40px;
    }

    &__btn {
      line-height: 40px;
      width: 100px;
      font-size: 12px;
      padding-left: 15px;
      padding-right: 40px;

      &:after {
        top: 3px;
        right: 3px;
        width: 34px;
        height: 34px;
      }
    }
  }

  @media (max-width: 1100px) {
    min-width: 280px;
  }
}