.container {
  width: 100%;
  max-width: 1300px;
  padding-left: 30px;
  padding-right: 30px;
  margin-left: auto;
  margin-right: auto;

  @media (max-width: 600px) {
    padding-left: 15px;
    padding-right: 15px;
  }
}