.h {
  text-transform: uppercase;
  font-weight: 700;

  &__level_1 {
    font-size: 3.4rem;
    letter-spacing: 1.38px;
    line-height: 3.6rem;
  }

  &__level_2 {
    font-size: 1.875rem;
    letter-spacing: 1.02px;
    line-height: 2.9rem;
  }

  &__level_3 {
    font-size: 1.5rem;
    letter-spacing: .46px;
    line-height: 1.6;
    font-weight: 400;
  }

  @media (max-width: 480px) {
    &__level_1 {
      font-size: 2.2rem;
      line-height: 2.9rem;
    }

    &__level_2 {
      font-size: 1.7rem;
      line-height: 2.1rem;
    }

    &__level_3 {
    }
  }
}