.index-up-block {
  background: url(./upper-background.png) no-repeat;
  background-size: auto 100%;
  padding-bottom: 240px;
  position: relative;
  overflow: hidden;

  &__points-container {
    width: 100%;
    height: 100%;
    position: absolute !important;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
  }

  &__points {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: url(./points-top.png) 243px 154px no-repeat;
    z-index: 1;
  }

  &__fixed-points {
    width: 100%;
    height: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: url(./points-fixed.png) 180px 660px no-repeat;
    z-index: 1;
  }

  @media (min-width: 1900px) {
    background-size: 100% 100%;
  }

  @media (max-width: 992px) {

    &__points-container {
      display: none;
    }
  }

  @media (max-width: 768px) {
    background-position: 0 -30px;
  }

  @media (max-width: 480px) {
    background-position: 0 -50px;
  }
  
  @media (max-width: 320px) {
    background-position: 0 -70px;
  }
}