.btn-social {
  display: block;
  width: 100%;
  position: relative;
  text-align: center;
  box-shadow: 0 9px 35px rgba(219, 74, 60, 0.26);
  height: 50px;
  border-radius: 25px;
  border: none;
  outline: none;
  text-transform: uppercase;
  color: #ffffff;
  font: inherit;
  cursor: pointer;

  &:before {
    content: '';
    border-radius: 25px 0 0 25px;
    position: absolute;
    top: 0;
    left: 0;
    width: 50px;
    height: 50px;
  }

  &_type_google {
    background-color: #db4a3c;

    &:before {
      background: #c83a2e url(./google-social.png) center no-repeat;
    }
  }

  &_type_fb {
    background-color: #4267b2;

    &:before {
      background: #365899 url(./fb-social.png) center no-repeat;
    }
  }
}