.btn-control {
  background: none;
  border: none;
  outline: none;
  font: inherit;
  color: inherit;
  padding: 0;
  display: inline-flex;
  align-items: center;
  cursor: pointer;

  &:before {
    content: '';
    height: 17px;
    margin-right: 7px;
    background-size: contain;
    background: no-repeat center;
  }

  &:last-child {
    margin-right: 0;
  }

  &_type_view {
    &:before {
      width: 17px;
      background-image: url(./search-icon.svg);
    }
  }

  &_type_favorite {
    &:before {
      width: 19px;
      background-image: url(./favorite-icon.svg);
    }

    &.btn-control_theme_white:before {
      background-image: url(./favorite-icon-white.svg);
    }
  }

  &_type_download {
    &:before {
      width: 19px;
      background-image: url(./download-icon.svg);
    }

    &.btn-control_theme_white:before {
      background-image: url(./download-icon-white.svg);
    }
  }

  @media (max-width: 480px) {
    &:before {
      width: 15px;
      height: 12px;
      margin-right: 4px;
    }
  }
}