.social-link {
  width: 53px;
  height: 53px;
  border-radius: 27px;
  background: rgba(255, 255, 255, .07) center center no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all .35s;

  &__icon {
    height: 17px;
    fill: #fff;
  }

  &:hover {
    background: #ffffff;

    .social-link__icon {
      fill: #1aeebb;
    }
  }

  @media (max-width: 768px) {
    width: 45px;
    height: 45px;
  }

  @media (max-width: 480px) {
    width: 40px;
    height: 40px;
  }
}