.jq-selectbox {
  position: relative;
  display: flex;

  &__select {
    flex-grow: 1;
    display: flex;
    align-items: center;
  }

  &__select-text {
    width: 100% !important;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;

    &::after {
      content: '';
      width: 9px;
      height: 17px;
      background: url(./back.svg) center no-repeat;
      background-size: 17px auto;
      transform: rotate(-90deg);
    }

    &_active {
      &::after {
        transform: rotate(90deg);
      }
    }
  }

  &__dropdown {
    position: absolute;
    background: #162572;
    width: 100% !important;
    padding: 20px 10px 20px 25px;
    border: 1px solid rgba(249, 253, 255, .2);
    border-radius: 25px;
    top: calc(100% + 10px);

    ul {
      max-height: none !important;
      height: 120px !important;
      overflow: hidden;
    }

    li {
      text-align: left;
    }
  }

  @media (max-width: 992px) {
    &__select-text {
      padding-left: 16px;
    }

    &__dropdown {
      padding: 15px 10px 15px 15px;
      border-radius: 20px;
    }
  }
}

.mCS-select {

  &.mCSB_scrollTools {

    .mCSB_draggerRail {
      background: #3a337c;
      width: 4px;
    }

    .mCSB_dragger.mCSB_dragger_onDrag .mCSB_dragger_bar {
      background: #e1e5ff;
    }

    .mCSB_dragger .mCSB_dragger_bar {
      background: #e1e5ff;

      &:hover {
        background: #e1e5ff;
      }
    }
  }
}
