.index-footer {
  margin-top: auto;

  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  @media (max-width: 768px) {

    &__container {
      flex-direction: column;
    }

    &__logo {
      margin-bottom: 30px;
    }
  }

}