.search-results {
  margin-top: 36px;

  &__container {
    display: flex;
    flex-wrap: wrap;
  }

  &__header {
    width: 100%;
    text-transform: uppercase;
    color: #585762;
    margin-bottom: 30px;
  }

  &__main {
    width: 66.66%;
    flex-grow: 1;
    flex-shrink: 1;
    margin-right: 20px;
  }

  &__aside {
    width: calc(33.33% - 20px);
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
  }

  &__article {
    margin-bottom: 20px;

    &:last-of-type {
      margin-bottom: 0;
    }
  }

  &__btn-more {
    margin: 74px auto 0;
    display: flex;
  }

  &__banner {
    margin-top: 20px;
  }

  @media (max-width: 992px) {
    &__btn-more {
      margin-top: 35px;
    }
  }

  @media (max-width: 768px) {

    &__header {
      margin-bottom: 15px;
    }

    &__main {
      width: 100%;
      margin-right: 0;
      margin-bottom: 25px;
    }

    &__aside {
      width: 100%;
      flex-direction: row;
    }

    &__banner {
      margin-top: 0;
      margin-left: 15px;
    }
  }

  @media (max-width: 600px) {

    &__header {
      text-align: center;
    }

    &__aside {
      flex-direction: column;
    }

    &__banner {
      margin-top: 20px;
      margin-left: 0;
      width: 100%;
    }
  }
}