.index-header {
  padding-top: 30px;
  padding-bottom: 30px;
  color: #fff;

  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  @media (max-width: 810px) {
    padding-top: 15px;
    padding-bottom: 15px;
  }
}