.subscription {
  padding: 35px;
  color: #585762;
  font-size: .9rem;
  width: 286px;
  border: 2px solid #e1e8ed;
  border-radius: 20px;

  &__name {
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: -0.2px;
  }

  &__price {
    color: #026fc2;
    font-size: 2.3rem;
    letter-spacing: -0.07px;
    margin-top: 18px;
    margin-bottom: 24px;
  }

  &__info {
    margin-top: 35px;

    &:first-of-type {
      margin-top: 0;
    }
  }

  &_accent {
    color: #d1dbe3;
    padding: 37px;
    border: none;
    background: url(./subscription-bg.png), linear-gradient(to top, #211c5d 0%, #501e7e 100%);

    .subscription__price {
      color: #d1dbe3;
    }
  }

  @media (max-width: 1100px) {
    padding: 30px;

    &__price {
      font-size: 1.7rem;
    }
  }

  @media (max-width: 992px) {
    &__info {
      margin-top: 20px;
    }
  }

  @media (max-width: 786px) {
    padding: 20px;
    width: 226px;
  }
}