.search-group {
  display: flex;
  align-items: center;

  &__form {
    margin-right: 40px;
    flex-grow: 1;
  }

  @media (max-width: 1600px) {
    &__form {
      margin-right: 20px;
    }
  }

  @media (max-width: 1440px) {
    &__form {
      margin-right: 12px;
    }

    &__advanced-search {
      &:before {
        width: 22px;
        height: 17px;
      }
    }
  }

  @media (max-width: 570px) {

    &__advanced-search {
      margin-right: 0;
    }
  }

  @media (max-width: 400px) {
    &__form {
      margin-right: 0;
    }

    &__advanced-search {
      position: absolute !important;
      top: 33px;
      right: 75px;
    }
  }
}