.burger {
  position: relative;
  width: 30px;
  height: 52px;
  padding: 10px 0;

  &:before,
  &:after {
    position: relative;
    content: '';
    display: block;
    margin: 7px 0;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background: #fff;
    transition: all .35s;
  }

  &:before {
    top: 0;
  }

  &:after {
    bottom: 0;
  }

  &_active {
    &:before {
      top: 6px;
      transform: rotate(45deg);
    }

    &:after {
      bottom: 5px;
      transform: rotate(-45deg);
    }
  }
}