.btn {
  cursor: pointer;
  font: inherit;
  outline: none;
  border: none;
  display: inline-flex;
  justify-content: center;
  height: 50px;
  line-height: 50px;
  border-radius: 25px;
  letter-spacing: .4px;
  padding-left: 28px;
  padding-right: 28px;
  transition: all .35s;

  &_theme_turquoise {
    background-image: linear-gradient(-70deg, #1aeebb 0%, #1fb4f3 100%);
    color: #fff;
    text-transform: uppercase;
    font-weight: 700;

    &:hover {
      background-image: linear-gradient(-70deg, #1fb4f3 0%, #1aeebb 100%);
    }
  }

  &_theme_purple {
    background-image: linear-gradient(85deg, #211c5d 0%, #7431ac 100%);
    color: #fff;
  }

  &_with-arrow {
    padding-left: 55px;
    padding-right: 75px;
    position: relative;

    &:after {
      content: '';
      position: absolute;
      top: 3px;
      right: 3px;
      width: 43px;
      height: 43px;
      margin-left: 14px;
      box-shadow: 0 15px 32px rgba(12, 25, 43, 0.32);
      border-radius: 50%;
      background: rgba(0, 0, 0, 0) url(./right-arrow.svg) no-repeat center center;
      background-size: 22px;
    }
  }


  &_theme_blue {
    padding-left: 34px;
    padding-right: 34px;
    color: #fff;
    background-image: linear-gradient(to left, #1fb4f3 0%, #1fb4f3 100%);
    box-shadow: 0 6px 10px rgba(26, 22, 75, 0.1);
    text-transform: uppercase;
    font-weight: 700;
  }

  @media (max-width: 992px) {
    height: 45px;
    line-height: 45px;
    padding-left: 16px;
    padding-right: 16px;

    &_with-arrow {
      padding-right: 61px;
      padding-left: 61px;

      &:after {
        width: 41px;
        height: 41px;
        top: 2px;
        right: 2px;
      }
    }
  }
}