.modal {
  display: none;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-image: linear-gradient(-264deg, rgba(0, 28, 93, .15) 0%, rgba(4, 51, 124, .15) 100%);
  justify-content: center;
  align-items: center;
  overflow: auto;
  z-index: 1000;

  &_active {
    display: block;
  }

  &__dialog {
    width: 100%;
    height: 100%;
    background: #fff;
    position: relative;
    box-shadow: 0 0 9px rgba(0, 0, 0, .4);
  }

  &__btn-close {
    position: absolute;
    top: 30px;
    right: 30px;
    cursor: pointer;
  }
  
  @media (max-width: 900px) {
    &__dialog {
      height: auto;
    }

    &__btn-close {
      &:before,
      &:after {
        background: #fff;
      }
    }
  }
}