.partners {
  color: #585762;
  position: relative;
  padding-top: 25px;
  overflow: hidden;
  padding-bottom: 0;
  margin-bottom: 43px;

  &__container {
    margin-top: 10px;
    display: flex;
  }

  &__desc {
    margin-top: 75px;
    flex-grow: 1;
  }

  &__title {
    text-transform: uppercase;
    position: relative;

    &:before {
      content: '';
      position: absolute;
      left: -107px;
      top: -55px;
      width: 178px;
      height: 160px;
      display: block;
      z-index: -9999;
      background: url(./about-us-before.svg) no-repeat center;
      background-size: 178px;
    }

    &:after {
      content: '';
      width: 36px;
      height: 36px;
      box-shadow: 0 15px 38px 2px rgba(27, 38, 61, 0.03);
      background-image: linear-gradient(32deg, #1fb5f2 0%, #1be3c5 100%);
      display: block;
      position: absolute;
      top: -13px;
      right: 50px;
      border-radius: 50%;
    }
  }

  &__text {
    margin-top: 45px;
    width: 454px;
  }

  &__p {
    margin-top: 20px;

    &:first-of-type {
      margin-top: 0;
    }
  }

  &__notebook {
    position: absolute;
    top: 26px;
    right: -40%;
    width: 100%;
  }

  &__form {
    width: 44%;
    margin-left: 38px;
    border-radius: 20px;
    box-shadow: 0 5px 40px rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
    padding: 4.6vh 56px;
  }

  &__form-title {
    font-size: 1.875rem;
    text-transform: uppercase;
    text-align: center;
  }

  &__submit {
    width: 100%;
  }

  @media (max-width: 1300px) {
    &__title {
      &:after {
        right: -40px;
      }
    }
  }

  @media (max-width: 1100px) {
    padding-bottom: 15px;

    &__container {
      margin-top: 0;
      flex-direction: column;
      align-items: center;
    }

    &__title {
      &:after {
        display: none;
      }
    }

    &__desc {
      margin-bottom: 30px;
      width: 100%;
      text-align: center;
    }

    &__text {
      width: 100%;
      margin-top: 20px;
    }

    &__form {
      width: 90%;
      margin-left: 0;
    }
  }

  @media (max-width: 992px) {
    &__title {
      &:before, &:after {
        display: none;
      }
    }
  }

  @media (max-width: 480px) {
    margin-bottom: 20px;

    &__form {
      padding: 20px;
      width: 100%;
    }

    &__form-title {
      //margin-bottom: 15px;
    }
  }
}