.search-result-full {
  display: flex;
  color: #585762;

  @media (max-width: 900px) {
    flex-direction: column;
  }

  &__l-block {
    flex-shrink: 1;
    width: 378px;
    background: url(./modal-bg.png);
    background-size: 100% 100%;
    padding: 80px 15px 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: #fff;

    @media (max-width: 900px) {
      width: 100%;
    }
  }

  &__info {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__img {
    width: 121px;
  }

  &__l-title {
    margin-top: 30px;
    text-transform: uppercase;
    text-align: center;
    padding: 0 47px;
  }

  &__meta-info {
    margin-top: 37px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__meta-item {
    margin-bottom: 7px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__meta-title {
    font-weight: 700;
  }

  &__control {
    margin-top: 20px;
  }

  &__btn-control {
    margin-bottom: 15px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__control {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__logo {
    margin-top: 50px;
  }

  &__r-block {
    flex-grow: 1;
    flex-shrink: 1;
    padding: 90px 32px 27px 47px;
    color: #585762;
  }

  &__title {
    text-transform: uppercase;
    margin-bottom: 30px;
    text-align: center;
  }

  &__text {
    overflow: hidden;
    height: 100%;
  }

  &__p {
    margin-top: 20px;
  }

  &__page-number {
    padding-right: 56px;
    text-align: center;
    margin-top: 26px;
  }

  @media (max-width: 900px) {
    &__r-block {
      padding: 35px;
    }

    &__text {
      height: 90vh;
    }
  }

  @media (max-width: 480px) {
    &__l-block {
      padding-top: 45px;
    }

    &__r-block {
      padding: 20px 15px 20px;
    }
  }
}

.mCS-modal {

  &.mCSB_scrollTools {
    width: 15px;

    .mCSB_draggerRail {
      background: rgba(47, 38, 134, .05);
      width: 8px;
    }

    .mCSB_dragger.mCSB_dragger_onDrag .mCSB_dragger_bar {
      background: #e1e5ff;
    }

    .mCSB_dragger .mCSB_dragger_bar {
      background: #e1e5ff;
      width: 8px;

      &:hover {
        background: #e1e5ff;
      }
    }
  }

  .mCSB_container {
    margin-right: 56px !important;
  }
}