.body {
  display: flex;
  flex-direction: column;
  background-color: #fafafa;
  position: relative;
  flex-grow: 1;

  &_overflow-locked {
    overflow: hidden;
  }

  @media (max-width: 570px) {
    &_popup-opened {
      overflow: hidden;
    }
  }
}