.select {
  border: 1px solid rgba(249, 253, 255, .2);
  font: 16px 'Istok Web', sans-serif;
  letter-spacing: .55px;
  color: rgba(255, 255, 255, .77);
  border-radius: 25px;
  background: rgba(0, 0, 0, 0);
  cursor: pointer;

  @media (max-width: 992px) {
    font-size: 14px;
  }
}