.header {
  display: flex;
  padding: 30px 20px;
  //justify-content: space-between;
  align-items: center;
  background: url(./header-bg.png) no-repeat;
  background-size: 100% 100%;
  box-shadow: 0 0 17px rgba(26, 22, 75, 0.33);

  &__logo {
    margin-right: 40px;
  }

  &__search {
    margin-right: 25px;
  }

  &__nav {
    margin-left: auto;
  }

  @media (max-width: 1440px) {
    &__logo {
      margin-right: 25px;
    }

    &__search {
      font-size: 12px;
    }
  }

  @media (max-width: 960px) {
    padding-top: 15px;
    padding-bottom: 15px;

    &__search {
      flex-grow: 1;
    }
  }

  @media (max-width: 570px) {
    flex-wrap: wrap;

    &__search {
      flex-grow: 1;
      margin-top: 15px;
      justify-content: center;
      order: 2;
      width: 100%;
      padding-bottom: 20px;
      margin-right: 0;
    }
  }
}