.text-input {
  border: 1px solid rgba(249, 253, 255, .2);
  border-radius: 25px;
  background: rgba(0, 0, 0, 0);
  font-family: inherit;
  font-size: 16px;
  letter-spacing: .55px;
  color: rgba(255, 255, 255, .77);
  padding: 0 20px;
  outline: none;
  height: 50px;

  &::placeholder {
    color: rgba(255, 255, 255, .77);
  }

  &_accent {
    border: 2px solid #1ebbec;
  }

  @media (max-width: 1440px) {
    height: auto;
  }

  @media (max-width: 992px) {
    font-size: 14px;
    padding-left: 16px;
  }

  @media (max-width: 768px) {

  }

  @media (max-width: 480px) {

  }

  @media (max-width: 320px) {

  }
}