.index-bottom-block {
  background: url(./footer-background.png) no-repeat;
  background-size: auto 100%;
  padding-bottom: 60px;
  position: relative;
  overflow: hidden;
  flex-grow: 1;

  &_partners {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    background-position-y: 85px;
  }

  &__points-container {
    width: 100%;
    height: 100%;
    position: absolute !important;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
    pointer-events: none;
  }

  &__partners-points {
    width: 100%;
    height: 100%;
    position: absolute;
    top: -20px;
    bottom: 0;
    left: 0;
    right: 0;
    background: url(./partners-dots.png) no-repeat 207px 101px;
    z-index: 1;
  }

  &__points {
    width: 100%;
    height: 100%;
    position: absolute;
    top: -20px;
    bottom: 0;
    left: 0;
    right: 0;
    background: url(./points-bottom.png) no-repeat 130px 425px;
    z-index: 1;
  }

  @media (min-width: 1800px) {
    background-size: 100% 100%;
  }

  @media (min-width: 1100px) {
    &_partners {
      background-size: 100% 100%;
    }
  }

  @media (max-width: 1100px) {
    &_partners {
      margin-top: 0;
    }

    &__partners-points {
      display: none;
    }
  }

  @media (max-width: 992px) {
    padding-bottom: 20px;

    &__points-container {
      display: none;
    }
  }

  @media (max-width: 786px) {
    margin-top: -35px;
  }

  @media (max-width: 480px) {
    background-position-y: 35px;
  }
}