.footer {
  margin-top: 90px;
  padding-top: 55px;
  padding-bottom: 55px;
  background: url(./footer-bg.png);
  background-size: 100% 100%;

  @media (max-width: 900px) {
    margin-top: 100px;
  }

  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__logo {
  }

  @media (max-width: 768px) {
    padding-top: 30px;
    padding-bottom: 20px;

    &__container {
      flex-direction: column;
    }

    &__logo {
      margin-bottom: 30px;
    }
  }

  @media (max-width: 600px) {
    margin-top: 30px;
  }
}