.input {
  height: 50px;
  border: 1px solid #ebebeb;
  border-radius: 25px;
  font: inherit;
  color: #585762;
  padding: 1.6vh 1.7vw;
  outline: none;

  &::placeholder {
    color: rgba(88, 87, 98, .5);
  }
}