.search-info {
  background: rgba(179, 215, 255, .2);
  padding: 20px;
  height: 257px;
  box-shadow: 0 0 29px rgba(26, 22, 75, 0.11);
  font: 16px 'Istok Web', sans-serif;
  letter-spacing: .4px;
  color: #585762;

  &__header {
    font-size: 24px;
    letter-spacing: 0.46px;
  }

  &__content {
    margin-top: 20px;
  }

  &__item {
    margin-top: 8px;

    &:first-child {
      margin-top: 13px;
    }

    &_accent {
      font-weight: 700;
    }
  }

  @media (max-width: 992px) {
    font-size: 14px;

    &__header {
      font-size: 21px;
    }
  }

  @media (max-width: 600px) {
    text-align: center;
  }
}