.html {
  font: 16px 'Istok Web', sans-serif;
  letter-spacing: 0.4px;
  min-height: 100%;
  display: flex;
  flex-direction: column;

  @media (max-width: 992px) {
    font-size: 14px;
  }

  @media (max-width: 480px) {
    font-size: 12px;
  }

}