@mixin nav-small {

  &__burger {
    display: block;
  }

  &__row {
    display: flex;
    width: 100%;
    justify-content: center;
    padding: 0 41px 0 30px;
    margin-top: 25px;
  }

  &__link {
    font-size: 14px;
    margin-right: 0;

    &_row {
      margin-right: 25px;

      &:last-child {
        margin-right: 0;
      }
    }
  }

  &__menu {
    flex-direction: column;
    justify-content: flex-start;
    overflow: hidden;
    height: 0;
    position: absolute;
    padding: 0;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100%;
    background: linear-gradient(to right, #7409b1 0%, #04337c 100%);
    transition: all .35s;

    &_active {
      padding: 100px 0 50px;
      height: 400px;
    }
  }
}

@mixin nav-medium {
  &__link {
    font-size: 12px;
    margin-right: 17px;
    padding-top: 7px;
    padding-bottom: 7px;

    &_accent {
      padding-left: 12px;
      padding-right: 12px;
    }
  }
}

@mixin nav-large {
  & {
    &__link {
      font-size: 14px;
      margin-right: 25px;
      height: 40px;

      &_accent {
        padding-left: 15px;
        padding-right: 15px;

      }
    }
  }
}

.nav-main {

  &__menu {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__row {
    display: flex;
    align-items: center;
  }

  &__burger {
    position: absolute;
    right: 10px;
    top: 0;
    z-index: 101;
    background: none;
    border: none;
    width: 45px;
    height: 45px;
    outline: none;
    font-size: 25px;
    color: #fff;
    display: none;
  }


  &__link {
    font: 16px 'Istok Web', sans-serif;
    letter-spacing: 0.4px;
    color: #fff;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    margin-right: 45px;

    &:last-child {
      margin-right: 0;
    }

    &_accent {
      border: 1px solid #1fb4f3;
      border-radius: 25px;
      padding-left: 40px;
      padding-right: 40px;
    }
  }

  @media (max-width: 1050px) {
    @include nav-large;
  }

  @media (max-width: 810px) {
    @include nav-small;
  }
}

.nav-wide {

  &__menu {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__row {
    display: flex;
    align-items: center;
  }

  &__burger {
    position: absolute;
    right: 0;
    top: 0;
    z-index: 101;
    background: none;
    border: none;
    width: 45px;
    height: 45px;
    outline: none;
    font-size: 25px;
    color: #fff;
    display: none;
  }


  &__link {
    font: 16px 'Istok Web', sans-serif;
    letter-spacing: 0.4px;
    color: #fff;
    text-decoration: none;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 45px;

    &:last-child {
      margin-right: 0;
    }

    &_accent {
      border: 1px solid #1fb4f3;
      border-radius: 25px;
      padding-left: 40px;
      padding-right: 40px;
    }
  }

  @media (max-width: 1600px) {
    &__link {
      margin-right: 30px;
    }
  }

  @media (max-width: 1400px) {
    @include nav-large;
  }

  @media (max-width: 1200px) {
    @include nav-medium;
  }

  @media (max-width: 960px) {
    @include nav-small;
  }
}