.jumbotron {
  position: relative;
  display: flex;
  justify-content: center;

  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 0;
    margin-left: 0;
    padding-bottom: 50px;
    max-width: 1320px;
  }

  &__l-part {
    width: 38.6%;
    margin-right: 80px;
    flex-shrink: 0;
    position: relative;
    z-index: 2;
  }

  &__header {
    text-transform: none !important;
    color: #f9fdff;
    margin-left: 10px;
  }

  &__form {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  &__input {
    width: 100%;
  }

  &__select {
    width: calc(50% - 5px);
  }

  &__btn {
    width: calc(50% - 5px);
    padding-left: 20px !important;
  }

  &__r-part {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-grow: 1;
  }

  &__parallax {
    margin-right: -35px;
  }

  &__img {
    position: relative;
    width: 100%;
  }

  &__form-item {
    margin-top: 20px;
  }

  &__social-board {
    margin-top: 50px;
    margin-right: 10px;
  }

  @media (max-width: 1440px) {
    &__header {
      text-align: center;
    }

    &__select {
      width: 100%;
    }

    &__btn {
      width: 100%;
    }
  }

  @media (max-width: 1355px) {
    &__parallax {
      margin-right: 0;
    }
  }

  @media (max-width: 1320px) {
    &__container {
      width: 1300px;
    }

    &__header {
      margin-left: 0;
    }
  }

  @media (max-width: 1050px) {

    &__container {
      margin-top: 40px;
    }
  }

  @media (max-width: 992px) {
    &__container {
      margin-top: 30px;
    }

    &__l-part {
      margin-right: 40px;
    }

    &__form {
      margin-top: 5px;
    }
  }

  @media (max-width: 768px) {
    &__container {
      flex-direction: column;
      align-items: center;
      margin-top: 30px;
    }

    &__l-part {
      width: 100%;
      margin-right: 0;
    }

    &__img {
      display: none !important;
    }

    &__select {
      width: calc(50% - 5px);
    }

    &__btn {
      width: calc(50% - 5px);
    }
  }

  @media (max-width: 480px) {
    &__select {
      width: 100%;
    }

    &__btn {
      width: 100%;
    }
  }
}