.logo {
  width: 174px;
  height: auto;

  @media (max-width: 1050px) {
    width: 130px;
  }

  @media (max-width: 480px) {
    width: 97px;
  }

  &_wide {
    @media (max-width: 1000px) {
      width: 97px;
    }
  }
}
