.auth {
  background-size: 100% 100%;
  flex-grow: 1;
  display: flex;
  justify-content: flex-end;
  background: no-repeat;
  background-size: auto 100%;

  &_type_login {
    .auth__logo-container {
      background: url(./login-bg.png) no-repeat;
      background-size: 100% 100%;
      position: relative;

      &:after {
        content: '';
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        background: url(./points-login.png) no-repeat 10vw 8vh;
        pointer-events: none;
      }
    }
  }

  &_type_registration {
    background-image: url(./registration-bg.png);
  }

  &__logo-container {
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__logo {
    width: 25vw;
    max-width: 509px;
    height: auto;
  }

  &__content {
    background: #fff url(./auth-content-bg.png) no-repeat 5vw bottom;
    background-size: 100% auto;
    width: 50%;
    flex-shrink: 0;
    max-width: 797px;
    padding: 7vh 10vw 4vh;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
  }

  &__title {
    margin-bottom: 3.3vh;
  }

  &__input {
    margin-bottom: 1vw;
  }

  &__checkbox {
    margin: 1.56vw auto 0;
    display: inline-block;
  }

  &__registration {
    margin: 1.56vw auto 0;
    width: 80%;
  }

  &__btn-group {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-top: 2.3vw;
  }

  &__remember-password {
    text-decoration: none;
    color: rgba(88, 87, 98, .5);
    font-size: .9375rem;

    &:hover {
      text-decoration: underline;
    }
  }

  &__separator {
    opacity: .5;
    color: #585762;
    font-size: .9375rem;
    display: flex;
    align-items: center;
    margin: 2.1vw 0;

    &:before,
    &:after {
      content: '';
      flex-grow: 1;
      height: 1px;
      background-image: url("data:image/svg+xml;utf8,<svg width='100%' height='100%' xmlns='http://www.w3.org/2000/svg'><rect width='100%' height='100%' style='fill: none; stroke: #585762; stroke-width: 1; stroke-dasharray: 5'/></svg>");
    }

    &:before {
      margin-right: 16px;
    }

    &:after {
      margin-left: 16px;
    }
  }

  &__social {
    margin-top: 1vw;
  }

  @media (max-width: 1100px) {
    &__input {
      margin-bottom: 15px;
    }
  }
}