.advanced-search {
  position: relative;
  font-size: 1rem;

  &__btn-close {
    display: none;
    position: absolute;
    top: 30px;
    right: 30px;

    &:before,
    &:after {
      background: #fff;
    }
  }

  &__btn {
    color: #ffffff;
    font: 16px 'Istok Web', sans-serif;
    letter-spacing: .4px;
    background: none;
    border: none;
    outline: none;
    display: flex;
    align-items: center;
    cursor: pointer;

    &:before {
      content: '';
      width: 24px;
      height: 20px;
      background: url(./settings.svg) no-repeat;
      background-size: contain;
      margin-right: 17px;
    }

    @media (max-width: 1750px) {
      font-size: 0;
      text-indent: -9999px;
      white-space: nowrap;
      overflow: hidden;

      &:before {
        margin-right: 0;
      }
    }
  }

  @media (max-width: 570px) {
    &__btn {
      padding: 0;

      &:before {
        background-position-x: center;
        width: 32px;
      }
    }
  }

  &__triangle {
    position: absolute;
    display: none;
    height: 12px;
    width: 25px;
    border-bottom: 12px solid #0e2b78;
    border-right: 12px solid rgba(0, 0, 0, 0);
    border-left: 12px solid rgba(0, 0, 0, 0);
    top: calc(100% + 5px);
    left: calc(50% - 12px);

    &_active {
      display: block;
    }
  }

  &__popup {
    position: absolute;
    top: calc(100% + 17px);
    left: 38px;
    display: none;
    width: 468px;
    background: url(./advanced-search-bg.png) no-repeat;
    background-size: 100% 100%;
    z-index: 3000;
    padding: 48px 21px 57px 25px;
    border-radius: 25px;
    color: #ffffff;
    text-align: center;

    &_active {
      display: block;
    }
  }

  &__title {
    margin-bottom: 34px;
  }

  &__form-item {
    margin-bottom: 20px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__submit-btn {
    margin-top: 39px;

  }

  @media (max-width: 1750px) {
    &__popup {
      left: -49px;
    }
  }

  @media (max-width: 960px) {
    &__popup {
      right: -25px;
      top: 65px;
      left: auto;
    }

    &__triangle {
      display: none;
    }
  }

  @media (max-width: 570px) {
    position: static;

    &__btn-close {
      display: block;
    }

    &__popup {
      position: fixed;
      width: 100vw;
      height: 100vh;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      border-radius: 0;
      overflow: auto;
      padding-top: 75px;
    }

    &__submit-btn {
      margin-top: 10px;
    }
  }
}