.checkbox-group {
  color: #585762;
  position: relative;

  &__input {
    visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;

    &:checked + .checkbox-group__label:before {
      background: rgba(54, 88, 153, .16) url(./checked.svg) no-repeat center;
      background-size: 15px auto;
    }
  }

  &__label {
    display: flex;
    align-items: center;
    cursor: pointer;
  }

  &__label:before {
    content: '';
    flex-shrink: 0;
    width: 20px;
    height: 20px;
    background-color: rgba(54, 88, 153, .16);
    border-radius: 5px;
    margin-right: 20px;
  }

  &__text {
    min-height: 20px;
    line-height: 20px;
  }
}
