.about-us {
  color: #585762;
  position: relative;
  padding-top: 25px;
  overflow: hidden;
  padding-bottom: 245px;
  margin-bottom: 200px;

  &__desc {
    margin-top: 75px;
    width: 40%;
  }

  &__title {
    text-transform: uppercase;
    position: relative;

    &:before {
      content: '';
      position: absolute;
      left: -107px;
      top: -55px;
      width: 178px;
      height: 160px;
      display: block;
      z-index: -9999;
      background: url(./about-us-before.svg) no-repeat center;
      background-size: 178px;
    }

    &:after {
      content: '';
      width: 36px;
      height: 36px;
      box-shadow: 0 15px 38px 2px rgba(27, 38, 61, 0.03);
      background-image: linear-gradient(32deg, #1fb5f2 0%, #1be3c5 100%);
      display: block;
      position: absolute;
      top: -13px;
      right: 105px;
      border-radius: 50%;
    }
  }

  &__text {
    margin-top: 45px;
    width: 454px;
  }

  &__p {
    margin-top: 20px;

    &:first-of-type {
      margin-top: 0;
    }
  }

  &__notebook {
    position: absolute;
    top: 26px;
    right: -40%;
    width: 100%;
  }

  &__notebook-img {
    max-width: 100%;
  }

  @media (max-width: 992px) {
    padding-bottom: 100px;
    margin-bottom: 0;

    &__title {
      &:before, &:after {
        display: none;
      }
    }

    &__desc {
      width: 100%;
      margin-bottom: 30px;
      text-align: center;
      margin-top: 0;
    }

    &__text {
      margin-top: 20px;
      width: 100%;
    }

    &__notebook {
      position: static;
    }
  }


  @media (max-width: 480px) {
    padding-bottom: 20px;

    &__text {
      font-size: 13px;
      margin-top: 7px;
    }
  }
}