.subscription-block {
  color: #585762;
  margin-bottom: 150px;

  &__container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  &__header {
    color: #010101;
    text-transform: uppercase;
  }

  &__tagline {
    font-size: 1.2rem;
    letter-spacing: -0.31px;
    text-align: right;
  }

  &__list {
    width: 100%;
    margin-top: 60px;
    display: flex;
    justify-content: space-between;
  }

  &__item {
    margin-right: 10px;

    &:last-child {
      margin-right: 0;
    }
  }

  @media (max-width: 992px) {
    font-size: 18px;
    margin-top: -100px;
    margin-bottom: 60px;

    &__header {
      text-align: center;
      width: 100%;
    }
    &__primary-header {
    }

    &__tagline {
      margin-top: 15px;
      text-align: center;
      width: 100%;
    }

    &__list {
      justify-content: center;
      flex-wrap: wrap;
      margin-top: 30px;
    }

    &__item {
      margin: 10px;
      flex-shrink: 1;

      &:last-child {
        margin-right: 10px;
      }
    }
  }

  @media (max-width: 768px) {
    margin-top: -135px;

    &__item {
      margin-right: 10px;
      margin-left: 10px;

      &:last-child {
        margin-right: 10px;
      }
    }
  }

  @media (max-width: 480px) {
    margin-top: -155px;
    margin-bottom: 50px;

    &__header {
    }

    &__primary-header {
    }

    &__list {
      margin-top: 15px;
    }
  }
}