.dropdown {
  position: relative;

  &:hover {
    .dropdown__menu {
      display: block;
    }
  }

  &__switch {
    display: flex;
    align-items: center;
    cursor: pointer;
  }

  &__icon {
    overflow: hidden;
    width: 11px;
    height: 6px;
    stroke: #fff;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-width: 7px;
    margin-left: 7px;
  }

  &__menu {
    display: none;
    position: absolute;
    background: #081c6e;
    border-radius: 10px;
    top: 90%;
    left: -5px;
    padding: 10px 15px;
    z-index: 2;
  }

  &__link {
    color: inherit;
    text-decoration: none;
    
    &:hover {
      text-decoration: underline;
    }
  }
}