.article {
  background-color: #ffffff;
  border-radius: 10px;
  padding: 20px;
  display: flex;
  align-items: flex-start;
  color: #585762;
  border: 1px solid #f3f3f4;
  transition: all .35s;

  &__img {
    margin-right: 20px;

    img {
      width: 100%;
    }
  }

  &__main {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
  }

  &__header {
    text-transform: uppercase;
    flex-grow: 1;
    margin-right: 15px;
  }

  &__date {
    flex-grow: 0;
    flex-shrink: 0;
  }

  &__summary {
    margin-top: 13px;

    p {
      margin: 0;
    }
  }

  &__meta {
    margin-top: 20px;
  }

  &__meta-item {
    margin-top: 10px;

    &:first-of-type {
      margin-top: 0;
    }
  }

  &__meta-title {
    font-weight: 700;
  }

  &__control {
    margin-top: 15px;
    width: 100%;
    display: flex;
    justify-content: flex-end;
  }

  &__btn-control {
    margin-right: 30px;
  }

  &:hover {
    border-color: transparent;
    box-shadow: 0 0 29px rgba(26, 22, 75, 0.11);
  }

  @media (max-width: 992px) {

    &__img {
      flex-shrink: 1;
    }

    &__main {
      flex-shrink: 2;
    }
  }

  @media (max-width: 600px) {
    flex-direction: column;
    align-items: center;
    text-align: center;

    &__img {
      margin-right: 0;
    }

    &__header {
      margin-top: 10px;
      margin-right: 0;
    }

    &__date {
      width: 100%;
      margin-top: 7px;
      text-align: center;
    }

    &__meta {
      width: 100%;
    }

    &__control {
      width: 100%;
      justify-content: center;
    }

    &__btn-control {
      margin-right: 15px;
    }
  }

  @media (max-width: 480px) {
    &__btn-control {
      margin-right: 8px;
    }
  }
}